/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/magento/robots.txt
/magento/pub/robots.txt
/magento/sitemap
/magento/sitemap.xml
/magento/magento/pub/sitemap
/magento/magento/pub/sitemap.xml
/magento/.idea
/magento/.gitattributes
/magento/app/config_sandbox
/magento/app/etc/config.php
/magento/app/etc/env.php
/magento/magento/app/code/Magento/TestModule*
/magento/lib/internal/flex/uploader/.actionScriptProperties
/magento/lib/internal/flex/uploader/.flexProperties
/magento/lib/internal/flex/uploader/.project
/magento/lib/internal/flex/uploader/.settings
/magento/lib/internal/flex/varien/.actionScriptProperties
/magento/lib/internal/flex/varien/.flexLibProperties
/magento/lib/internal/flex/varien/.project
/magento/lib/internal/flex/varien/.settings
/magento/node_modules
/magento/.grunt
/magento/Gruntfile.js
/magento/package.json
/magento/.php_cs
/magento/.php_cs.cache
/magento/.php-cs-fixer.php
/magento/.php-cs-fixer.cache
/magento/grunt-config.json
/magento/pub/media/*.*
!/magento/pub/media/.htaccess
/magento/pub/media/attribute/*
!/magento/pub/media/attribute/.htaccess
/magento/pub/media/analytics/*
/magento/pub/media/catalog/*
!/magento/pub/media/catalog/.htaccess
/magento/pub/media/customer/*
!/magento/pub/media/customer/.htaccess
/magento/pub/media/downloadable/*
!/magento/pub/media/downloadable/.htaccess
/magento/pub/media/favicon/*
/magento/pub/media/import/*
!/magento/pub/media/import/.htaccess
/magento/pub/media/logo/*
/magento/pub/media/custom_options/*
!/magento/pub/media/custom_options/.htaccess
/magento/pub/media/theme/*
/magento/pub/media/theme_customization/*
!/magento/pub/media/theme_customization/.htaccess
/magento/pub/media/wysiwyg/*
!/magento/pub/media/wysiwyg/.htaccess
/magento/pub/media/tmp/*
!/magento/pub/media/tmp/.htaccess
/magento/pub/media/captcha/*
/magento/pub/media/sitemap/*
!/magento/pub/media/sitemap/.htaccess
/magento/pub/static/*
!/magento/pub/static/.htaccess

/magento/var/*
!/magento/var/.htaccess
/magento/vendor/*
!/magento/vendor/.htaccess
/magento/generated/*
!/magento/generated/.htaccess
.DS_Store
